@font-face{
    font-family: CircularStd;
    src: url("../fonts/CircularStd-Book.woff2") format("woff2"),url(../fonts/CircularStd-Book.woff) format("woff"); 
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}
@font-face{
    font-family: CircularStd;
    src: url("../fonts/CircularStd-Medium.woff2") format("woff2"),url(../fonts/CircularStd-Medium.woff) format("woff"); 
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}
@font-face{
    font-family: CircularStd;
    src: url("../fonts/CircularStd-Bold.woff2") format("woff2"),url(../fonts/CircularStd-Bold.woff) format("woff"); 
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}
@font-face{
    font-family: CircularStd;
    src: url("../fonts/CircularStd-Black.woff2") format("woff2"),url(../fonts/CircularStd-Black.woff) format("woff"); 
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}
body{
    max-width: 1025px;
    margin: 0px auto;
    font-family: "CircularStd";
}
.title{
    font-size: 65px;
    margin-top: 140px;
    margin-bottom: 25px;
    text-transform: capitalize;
}
.sub-title{
    font-size: 20px;
    max-width: 750px;
    margin: 0px auto 219px;
}
.title, .sub-title{
    font-weight: 400;
    line-height: 1.26;
    text-align: center;
}
.content-name{
    font-size: 34px;
    font-weight: 700;
    line-height: 1.3;
    margin-bottom: 20px;
}
.text{
    font-size: 18px;
    font-weight: 400;
    color:#5f5f5f;
    width: 508px;
    line-height: 1.6;
    margin-bottom: 125px;
}
.name{
    font-size: 18px;
    font-weight: 700;
    line-height: 1.3;
    margin-bottom: 5px;
}
.profession{
    font-size: 18px;
    font-weight: 400;
    line-height: 1.26;
    color:#bbb
}
.image{
    width: 401px;
    height: 674px;
    margin-bottom: 140px;
}